.loginform{
	margin-bottom: 5%;
}
*{
	box-sizing: border-box;
	
}

.index-nav{
	display: flex;
	flex-direction: row;
}

.header{
	display: flex;
	justify-content: center;

}
.title{
	border: none;
	font-size: larger;
	width: 100%;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.contents{
	width: 100%;
}
.noteblock{
	background-color: green;
	border: solid black 1px;
	
}

.custom-file-input { display: none; }

.custom-file-label {
    padding: 15px;
	width:auto ;
    background: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
	margin-left: 15px;
	margin-right: 15px;
}
.modal-header form {
  width: 100%;
}
.modal-body form {
  width: 100%;
}